

button {
    display:inline-block;
    width: 10%;


}

input {
    max-width: 90%;
}

form {
    display: inline-flex;
    width:100%;
} 
.carousel-item h3{
    font-size: 20px;
    text-align: center;
}

.recipeDefault {
    font-size: 30px;
    text-align: center;
}